.bag01{
    background-color: #69899F;
    color: white !important;
}
.mar01{
    margin-left: 40px !important;
}
.dis01{
    display: inline-block;
}
.bag02{
    border-radius: 5px !important;
    border: 1px solid transparent;
}
.ml-001{
    margin-left: 200px !important;
}